@page "/"

<h1>Welcome to the Adventure Works on RKE2 Demo Application</h1>

<p>This app leverages the Adventure Works sample database provided by Microsoft along with an ASP.NET web application using
    Blazor. Traefik is being used as the ingress for the application. The web application is running on Windows containers with the database using SQL Server for Linux containers.</p>

<ul>
    <li><a href="https://docs.rke2.io/">Rancher RKE 2</a></li>
    <li><a href="https://traefik.io/">Traefik</a></li>
    <li><a href="https://docs.microsoft.com/en-us/sql/samples/adventureworks-install-configure?view=sql-server-ver15&tabs=ssms">Adventure Works Database</a></li>
    <li><a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a></li>
    <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a></li>
    <li><a href="https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-overview?view=sql-server-ver15">SQL Server for Linux</a></li>
</ul>
